
<div class="row welcome-message">
  <div class="col-xs-12 greeting">
    <p>
      <%= @greeting %>, <strong><%= @user.first_name %></strong>.
    </p>
    <p>
      Welcome to your codeDiary. You currently have <%= pluralize(@entries.count, "diary entry") %>.
    </p>
  </div>
</div>


<br>

<div class="row">
  <div class="col-xs-12 search-form">
    <form action="/search_by_tag" method="get">
      <input type="text" name="tag" placeholder="search by tag">
      <input type="hidden" name="user_id" value="<%= @user.id %>">
      <button type="submit" class="btn btn-primary search-go">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button><br>
    </form>
  </div>

  <div class="col-xs-12 search-error">
    <p><%= params[:tag_error] %></p>
  </div>

  <div class="col-xs-12 search-form">
    <form action="/search_by_date" method="get">
      <input type="text" name="selected_date" placeholder="search by YYYY-MM-DD">
      <input type="hidden" name="user_id" value="<%= @user.id %>">
      <button type="submit" class="btn btn-primary search-go">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button><br>
    </form>
  </div>

  <div class="col-xs-12 search-error">
    <p><%= params[:date_error] %></p>
  </div>

  <div class="col-xs-12 search-form">
    <form action="/search_by_keyword" method="get">
      <input type="text" name="keyword" placeholder="search by keyword">
      <input type="hidden" name="user_id" value="<%= @user.id %>">
      <button type="submit" class="btn btn-primary search-go">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </form>
  </div>

  <div class="col-xs-12 search-error">
    <p><%= params[:keyword_error] %></p>
  </div>


</div>
