<!DOCTYPE html>
<html>
<head>
	<title>CodeDiary</title>
	<%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<%= csrf_meta_tags %>
</head>

<body>
	<div class="row empty-space-small"></div>
	<div class= "container-fluid">
		<div class="row">
			<div class="col-xs-12 code-diary-header">
			<h1>CodeDiary.</h1>
			</div>
		</div>

	<div class="row links links-heading">
		<div class="col-xs-4">
			<h5>
			<%= link_to 'New Entry', new_user_entry_path(@user) %>
			</h5>
		</div>

		<div class="col-xs-4">
			<h5>
			<%= link_to 'All Entries', user_entries_path(@user) %>
			</h5>
		</div>

		<div class="col-xs-4">
			<h5>
			<%= link_to 'Home', user_path(@user) %>
			</h5>
		</div>
	</div>

<%= yield %>

<div class="row empty-space"></div>

</div>
<div class="row empty-space-small"></div>

</body>
</html>
